/* App.css */
.header-list {
  list-style: none;
  display: flex;
  justify-content: space-around; /* Измените на свой вкус: space-between, flex-start, flex-end и так далее */
  padding: 10px;
  background-color: #f0f0f0; /* Цвет фона шапки */
}

.header-list li {
  margin: 0;
}

.header-list a {
  text-decoration: none;
  color: #333; /* Цвет текста кнопок */
}

.header-list a:hover {
  font-weight: bold; /* Измените на свой вкус: цвет, подчеркивание и так далее */
}
